/* act-on */
@font-face {
  font-family: "HelveticaNowText-Medium-act-on";
  src: url("act-on/HelveticaNowTextMedium/font.woff2") format("woff2"),
    url("act-on/HelveticaNowTextMedium/font.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNowText-It-act-on";
  src: url("act-on/HelveticaNowTextIt/font.woff2") format("woff2"),
    url("act-on/HelveticaNowTextIt/font.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNowText-Regular-act-on";
  src: url("act-on/HelveticaNowTextRegular/font.woff2") format("woff2"),
    url("act-on/HelveticaNowTextRegular/font.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNowText-Bold-act-on";
  src: url("act-on/HelveticaNowTextBold/font.woff2") format("woff2"),
    url("act-on/HelveticaNowTextBold/font.woff") format("woff");
}

/* fifth */
@font-face {
  font-family: "HelveticaNowText-Medium-fifth";
  src: url("fifth/HelveticaNowTextMedium/font.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNowText-It-fifth";
  src: url("fifth/HelveticaNowTextIt/font.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNowText-Regular-fifth";
  src: url("fifth/HelveticaNowTextRegular/font.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNowText-Bold-fifth";
  src: url("fifth/HelveticaNowTextBold/font.woff2") format("woff2");
}

/* act-on current */

@import url("//hello.myfonts.net/count/394177");

@font-face {
  font-family: "HelveticaNow-Regular";
  src: url("webfonts/394177_0_0.eot");
  src: url("webfonts/394177_0_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/394177_0_0.woff2") format("woff2"),
    url("webfonts/394177_0_0.woff") format("woff"),
    url("webfonts/394177_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNow-Italic";
  src: url("webfonts/394177_1_0.eot");
  src: url("webfonts/394177_1_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/394177_1_0.woff2") format("woff2"),
    url("webfonts/394177_1_0.woff") format("woff"),
    url("webfonts/394177_1_0.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNow-Medium";
  src: url("webfonts/394177_2_0.eot");
  src: url("webfonts/394177_2_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/394177_2_0.woff2") format("woff2"),
    url("webfonts/394177_2_0.woff") format("woff"),
    url("webfonts/394177_2_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNow-Bold";
  src: url("webfonts/394177_3_0.eot");
  src: url("webfonts/394177_3_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/394177_3_0.woff2") format("woff2"),
    url("webfonts/394177_3_0.woff") format("woff"),
    url("webfonts/394177_3_0.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
